extends layout

block content
  div.form-panel
    div.header Edit Restaurant
    form(action=`/edit/${restaurant.id}` method="post")
      div.form-input
        label(for="name") Name
        input(type="text" id="name" name="name" value=restaurant.name)
      div.form-input
        label(for="category") Category
        select(name="category" id="category" autocomplete="off")
            each category in restaurantCategories
              option(value=category selected=(category === restaurant.category)) #{category}
      div.form-input
        label(for="stars") Stars
        select(name="stars" id="stars" autocomplete="off")
            -for (let i = 1; i <= 5; i++)
             option(value=i selected=(i === restaurant.stars) ) #{i}

      div.form-input
        label(for="name") Image Url
        input(type="text" id="image_url" name="image_url" value=restaurant.image_url)

      div.form-input
        label(for="description") Description
        textarea(id="description" name="description" rows=10 cols=40) #{restaurant.description}

      div.button-row
        a.button.cancel(href=`/`) Cancel
        a.button.delete(href=`/delete/${restaurant.id}`) Delete
        button.button.save(type="submit") Save
